.Header {
  border-bottom: var(--border-width-medium) var(--border-style-default)
    var(--color-border);

  &Inner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: rem(30);
  }

  &Nav {
    display: flex;
    gap: rem(30);
  }

  &Links {
    position: relative;
    display: flex;
    align-items: center;
    gap: rem(8);

    padding: rem(10) rem(16);
    border-radius: rem(10);
    transition: all 0.3s ease;

    &::after {
      content: "";
      position: absolute;
      bottom: rem(3);
      left: 50%;
      transform: translateX(-50%) scaleX(0);
      transform-origin: center;
      width: 60%;
      height: rem(2);
      border-radius: rem(2);
      background-color: var(--accent-color);
      transition: transform 0.3s ease;
    }

    @include hover {
      color: var(--text-primary);
      background: linear-gradient(
        145deg,
        rgba(255, 255, 255, 0.05),
        rgba(255, 255, 255, 0.1)
      );
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1),
        0 4px 10px rgba(0, 0, 0, 0.25);
      transform: translateY(-1px);

      &::after {
        transform: translateX(-50%) scaleX(1);
      }
    }

    &.isActive {
      color: var(--color-primary-hover);
      background: linear-gradient(
        145deg,
        rgba(0, 150, 255, 0.15),
        rgba(0, 150, 255, 0.25)
      );
      box-shadow: 0 0 rem(12) rgba(0, 150, 255, 0.5),
        inset 0 0 rem(2) rgba(255, 255, 255, 0.2);

      &::after {
        transform: translateX(-50%) scaleX(1);
      }
    }
  }
}
