.Book {
  &AiInner {
    display: flex;
    flex-direction: column;
    gap: rem(20);
    padding-block: rem(20);
    border: var(--border-1);
    border-radius: var(--border-radius-md);
    padding-inline: rem(10);
  }

  &User {
    padding-block: rem(10);
    padding-inline: rem(10);
    border: var(--border-1);
    border-radius: var(--border-radius-md);
    background-color: var(--color-surface);
    display: inline-flex;
    align-items: flex-start;
    max-width: rem(500);
    margin-left: auto;
  }

  &Link {
    color: var(--color-primary-hover);

    @include hover {
      transform: scale(1.1);
      color: var(--color-accent-glow);
    }
  }
}
