.Author {
  &Block {
    display: flex;
    flex-direction: column;
    gap: rem(20);
  }

  &Title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    > h2 {
      padding-inline: rem(10);
    }
  }

  &Line {
    background-color: var(--color-border);
    flex: 1;
    height: 1px;
  }

  &List {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(20);
    align-items: center;
    justify-content: center;

    &.isSingle {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      > * {
        flex: 1;
        max-width: 300px;
      }
    }

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
