.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background-color: var(--color-text-primary) !important;
  border-radius: 50%;
  transition: all 0.3s;
  border: var(--border-1);
}

.swiper-pagination-bullet-active {
  width: 16px !important;
  height: 16px !important;
  background-color: var(--color-primary) !important;
}
