@use "./helpers/variables.scss" as *;

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  font-family: var(--font-alt);
}

h1,
.h1 {
  font-size: 1.8rem; /* крупный, но не гигант */
  font-weight: 500; /* средний вес — не кричит */
  line-height: 1.4;
  margin-bottom: 1.2rem;
  color: var(--color-text-primary);
}

h2,
.h2 {
  font-size: 1.4rem; /* основной блок */
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 1rem;
  color: var(--color-text-primary);
}

h3,
.h3 {
  font-size: 1.2rem; /* подпункты */
  font-weight: 400; /* чуть легче */
  line-height: 1.3;
  margin-bottom: 0.8rem;
  color: var(--color-text-secondary);
}

h4,
.h4 {
  font-size: 1rem; /* редкие мелкие уточнения */
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  color: var(--color-text-secondary);
}

a,
button {
  transition: color var(--transition-duration),
    background-color var(--transition-duration);
}
