@use "./helpers/mixins.scss" as *;
@use "./helpers/media.scss" as *;
@use "./helpers/variables.scss" as *;

.container {
  max-width: var(--container-width);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hiddened {
  @include visually-hidden;
}

.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}

.visible-mobile {
  @include mobile-above {
    display: none !important;
  }
}

.visible-tablet {
  @include tablet-above {
    display: none !important;
  }
}
