.Slider {
  &Section {
    padding-block: rem(20);
  }

  &Inner {
    margin: 0 auto;
    position: relative;
  }

  &Cover {
    width: rem(120);
    height: rem(190);
  }

  &Arrows {
    margin-block: rem(20);
    display: flex;
    justify-content: center;
    gap: rem(10);
  }

  &Title {
    display: flex;
    justify-content: center;
    align-items: center;

    > h1 {
      padding-inline: rem(10);
    }
  }

  &Line {
    background-color: var(--color-border);
    flex: 1;
    height: 1px;
  }

  &Arrow {
    background-color: var(--color-background);
    border: var(--border-1);
    border-radius: var(--border-radius-sm);
    padding: rem(10);
    display: flex;
    justify-content: center;
    transition: var(--transition-duration);

    @include hover {
      background-color: var(--color-primary);
      transform: translateY(-3px);
    }

    &Icon {
      color: var(--color-text-primary);
    }
  }

  &Slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: rem(200);
    padding-block: rem(10);
    border: var(--border-1);
    border-radius: var(--border-radius-md);
  }
}
