.Header {
  border-bottom: var(--border-width-medium) var(--border-style-default)
    var(--color-border);

  position: sticky;
  top: 0;
  background-color: var(--color-background);
  z-index: var(--z-index-overlay);

  &.Scrolled {
    box-shadow: var(--shadow-glow-md);
  }
}

.mobile {
  @include tablet-above {
    display: none;
  }
}

.desktop {
  display: flex;

  @include tablet {
    display: none;
  }
}
