.Book {
  &InfoBlock {
    display: flex;
    padding-block: rem(20);
    gap: rem(30);

    @include mobile {
      flex-direction: column;
    }
  }

  &Details {
    display: flex;
    flex-direction: column;
  }

  &Wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &Cover {
    border-radius: var(--border-radius-md);
    border: var(--color-border) var(--border-width-thick)
      var(--border-style-default);
    min-width: rem(125);
    min-height: rem(160);
    box-shadow: var(--shadow-glow-md);
  }

  &Date {
    margin-block: rem(10);
    display: flex;
    align-items: center;
    gap: rem(5);

    > p {
      --paragraphMarginBottom: 0;
    }
  }

  &Group {
    display: flex;
    flex-wrap: wrap;
    gap: rem(5);
    max-width: rem(700);
  }

  &SourceLink {
    color: var(--color-primary);
    text-decoration: none;
    transition: color 0.2s ease;
    border: var(--border-1);
    border-radius: var(--border-radius-sm);
    padding: rem(4);
    transition: var(--transition-duration);

    @include hover {
      transform: translateY(-3px);
    }
  }

  &Description {
    margin-block: rem(10);
    color: var(--color-text-secondary);
    overflow-wrap: anywhere;
    word-break: break-word;
    white-space: normal;
  }

  &Badge {
    border: var(--border-1);
    border-radius: var(--border-radius-sm);
    padding: rem(5);
    color: var(--color-primary);
    transition: var(--transition-duration);
  }
}
